.messege-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .messege-box{
        width: 500px;
        height: 300px;
        padding: 15px 15px 25px 15px;
        overflow: hidden;
        .messege-content{
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding-top: 4px;
            ul{
                width: 100%;
                height: auto;
                position: relative;
                transition: margin-top 0.5s;
                li{
                 width: 100%;
                 height: 1/6 * 100%;
                 padding-bottom: 5px;
                 overflow: hidden;
                 a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-decoration: none;
                    background: rgba(216,191,216,.1);
                    border-radius: 5px;
                    padding-left: 30px;
                    position: relative;
                    line-height: 2.5rem;
                    &:before{
                     position: absolute;
                     box-sizing: border-box;
                     margin-left: -22px;
                     display:block;
                     height: 100%;
                     content:'◆';
                     color: #eb8a00;
                    };
                    i{
                        padding-right: 8px;
                    }
                 }
            }
        }
      }
   }   
}